locals.zsh
log/.zsh_history
projects.zsh
.swp
!custom/example.zshcache
cache/

######################
# ronny specific

# symlinked to respective project's files, no need to track
functions/_brew
functions/_rvm
